@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hero{
    background-image: url(../10-february/images/cow.png.jpg);
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    /* clip-path: polygon(23% 40%, 23% 50%, 60% 30%); */
    /* clip-path: polygon(0 62%, 36% 93%, 100% 66%); */
    clip-path: polygon(0 0, 100% 0, 100% 84%, 47% 100%, 0 84%);

}

.hero h1{
    color:azure;
    font-size: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: 900;
    word-spacing: 40px;
    letter-spacing: 25px;
    padding-top: 60px;
}


.article, #cow-type{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    /* margin: top/bottom  left/right; */

    background: #000;
    color: white;
    padding: 60px;
    border-color: yellow;
    border-width: 15px;
    border-style: dashed;
    background: linear-gradient(10deg, yellow, blue, red);
    /* background: linear-gradient(45deg, pink, rgb(122,122,244)); */
}

.article h2{
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 48px;
}

.article p{
    font-size: 28px;
    line-height: 2em;
}

.article p .imp{
    font-size: 2rem;
    background: yellow;
    color: black;
    padding: 5px;
    width: 600px;
    display: inline-block;
}


.cow-images{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.cow-images div{
    max-width: 300px;
}

.cow-images img{
    width: 100%;
}